[submodule "unsplash-photopicker-ios"]
	path = unsplash-photopicker-ios
	url = https://github.com/unsplash/unsplash-photopicker-ios.git
[submodule "MobiledocKit"]
	path = MobiledocKit
	url = https://github.com/jacobsokora/MobiledocKit
